{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
    <h3>{{ object }}'s Portfolio</h3>
    {% if  object.user == user %}
        <a href="{% url "profiles:add_project" object.pk %}">Add Project</a>
    {% endif %}
    {% if object.projects.all %}
        <div>
            {% for project in object.projects.all %}
                <div class="col-lg-4 col-md-4 col-xs-10 thumb">
                    {{ project }}
                    <a href="{{ project.get_absolute_url }}" class="this-page">
                        <img src="http://placehold.it/150x150" class="img-rounded img-responsive">
                    </a>
                    {% if object.user == user %}
                        <h4 role="presentation"><a href="{% url "profiles:project_delete" project.pk %}">Delete
                            Project</a></h4>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ object.user.profile }} does't have any Projects (yet!).
    {% endif %}
    <div class="row">
        Contact {{ object.user.profile }}:
    </div>
    <div class="row">
        <a href="#">{{ object.user.profile.contact_mail }}</a>
    </div>
{% endblock %}

