{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}

    <div class="panel panel-default bootcards-summary">
        <div class="panel-heading">
            <h3 class="text-center">{{ object }}
                {% if object.profile.user == user %}
                    <a class="addp" href="{% url "profiles:add_work" project.profile.pk object.pk %}">Add Work</a>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body" id="sortable">
            {% if object.photos.all %}
                {% for photo in object.photos.all %}
                    <div class="col-xs-6 col-sm-4">
                        <a href="#">
                            <span class="label label-danger">X</span>
                            <img style="width: 65%; height: 65%;" src="{{ photo.image.url }}" class="img-rounded">
                            {% if object.profile.user == user %}
                                <h4 role="presentation"><a href="{% url "profiles:delete" photo.project.profile.pk photo.pk %}">Delete Work</a>
                                </h4>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                There are no works in {{ object }} (yet!).
            {% endif %}
        </div>
    </div>
{% endblock %}

