{% load staticfiles bootstrap3 %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.page_title }} | PortSite
        {% endblock %}
    </title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>

<div class="container">


    <div style="float:right">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="{% url "profiles:list" %}">Home</a></li>
            <li role="presentation"><a href="{% url "profiles:create" %}">Add new Profile</a></li>
            <li role="presentation"><a href="{% url "profiles:add" %}">Add Work</a></li>
            <li role="presentation"><a href="{% url "logout" %}">Logout</a></li>
        </ul>
    </div>

    <h1>
        PortSite: <a href="">{{ user.profile }}</a>
    </h1>
    {% bootstrap_messages %}
    <div>

        {% block content %}
            CONTENT
        {% endblock %}

    </div>

</div>

</body>
</html>