{% load staticfiles %}
{% load bootstrap3 %}


<head>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        {% endbuttons %}
    </form>
    <div>
        Not registered yet?
        Just click <a href="{% url "profiles:signup" %}">Here!</a>
    </div>
</div>
</body>